.filter-by-header {
  margin-left: 60px;
  margin-bottom: -5px;
  font-weight: bold;
  font-size: 12px;

}

.active-filter-container {
  width: 80%;
  margin: 10px;
  padding: 10px;
  border: 1px solid grey;
}

.filter-header-container {
  margin-left: 40px;
  margin-right: 40px;
}
