.active-filter-container {
  width: 80%;
  margin: 10px;
  padding: 10px;
  border: 1px solid grey;
}

.active-filter-container h4 {
  text-transform: capitalize;
}

.filter-option-text {
  cursor: pointer;
}