.filter-header {
  display: inline-flex;
  flex-direction: column;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0px 20px;
  cursor: pointer;
  width: 20%;
  font-size: 20px;
}

.active-options {
  height: 30px;
}

.selected-option {
  font-weight: normal;
  text-transform: none;
  font-size: 12px;
  display: block;
}