.filter-header {
  display: inline-flex;
  flex-direction: column;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  width: 10%;
}

.active-options {
  height: 50px;
}

.selected-option {
  font-weight: normal;
  text-transform: none;
  font-size: 12px;
  display: block;
}