.result {
  margin-bottom: 15px;
  padding: 15px;
  border-bottom: 1px solid gray;
  width: 80%;

  .result-details {
    padding: 5px 10px;
  }

  h5 {
    font-size: 16px;
    text-transform: uppercase;
    color: #777;
    font-weight: bold;
  }
}